[Unit]
Description=API Gateway Service
After=network.target systemd-sysctl.service systemd-modules-load.service

[Service]
User=root
WorkingDirectory=/usr/local/lib/node_modules/APIGateway
ExecStart=nodejs app.js

[Install]
WantedBy=multi-user.target
